#camera_image,
#modalImage,
.camThumb {
    width: 100%;
}

.camThumb {
    box-shadow: 0 10px 45px -20px #000000;
    cursor: pointer;
}

.camLabel {
    font-size: .9em;
}

.camContainer {
    height: 230px;
}

#hideAllBtn,
#showAllBtn,
#showMapBtn {
    margin: 0 0 15px 0;
}

.localeHeader {
    margin: 0 0 10px 0;
}

#camFilter {
    margin: 0 0 10px 0;
}

#map {
    width: 100%;
    height: 100%;
}

#mapModal .modal-dialog {
    width: 90%;
    height: 90%;
    margin-left: -45%;
}