#camera_image,
.camThumb {
    width: 100%;
}

.camThumb {
    box-shadow: 0 10px 45px -20px #000000;
}

.camLabel {
    font-size: .9em;
}

.topLink {
    text-align: right;
}

.camContainer {
    height: 230px;
}